name: tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install
        run: |
          python -m pip install -U pip
          # Prefer this if you have a test extra:
          # pip install .[test]
          pip install . pytest freezegun

      - name: Run tests
        run: |
          pytest -q
